<ol class="round">
    <li class="one">
        <h5>Вибрати два простих різних числа</h5>
        p = @ViewBag.P
        q = @ViewBag.Q
    </li>

    <li class="two">
        <h5>Обчислити модуль (добуток)</h5>
        n = p * q = @ViewBag.N     
    </li>

    <li class="three">
        <h5>Обчислити функцію Ейлера</h5>
        &#966(n) = (p - 1) * (q - 1) = @ViewBag.Fi 
    </li>

        <li class="four">
        <h5>Вибрати відкриту експоненту</h5>
        e = @ViewBag.E 
    </li>

        <li class="five">
        <h5>Обчислити секретну експоненту</h5>
        d = @ViewBag.D 
    </li>
</ol>